.logo{
    height: 40%;
    width: 30%;
}
body{
    font-family: "Montserrat";
    font-weight: bold;
    background-color: #F7F7F7;
  }
  p{
    color:#051367;
  }
.container-fluid{
    padding: 1% 1% ;
  }
  /*Navigation bar*/
  .navbar{
    padding:0 0 4.5rem;
    background-color: #F7F7F7;
  }
  .navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
  }
  .nav-item:hover{
      color: #5D8BF4;
  }
  .nav-item{
    padding: 0 18px;
    color: #051367;
  }
  .nav-link{
    font-size: 1.2rem;
    font-family: sans-serif"Montserrat-light";
  }
  .card-body{
      text-align: center;
  }
  .carousel-item{
    padding: 7% 15%;
  
  }
  .d-block{
      width: auto;
      height: 70%;
      padding: auto;
      margin: auto;
  }
  /*footer section*/
  /*
#footer{
    text-align: center;
    padding: 7% 15%;
  }
  .social-icons{
    margin: 20px 10px;
  
  }*/
  /*Media query*/
   @media (max-width:1028px) {
    #title{
      text-align: center;
    }
    .title-image{
      position: static;
      transform: rotate(0);
    }
   }